body{
  background-color: #011f3f;
  text-align: center;
}

#title{
   font-family: 'Press Start 2P', cursive;
   font-size: 3rem;
   color: #fef2bf;
   margin: 5%;
}

.container{
  display: block;
  width:50%;
  margin:auto;
}

.game-over{
  background-color: red;
}

.btn{
  width:200px;
  height: 200px;
  margin:25px;
  display: inline-block;
  border:10px solid black;
  border-radius: 20%;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.blue{
  background-color: blue;
}

.pressed{
  box-shadow: 0 0 20px white;
  background-color: grey;
}
